.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

assets/_quarto_old.yml
references/distancesampling.bib.sav
data/DistanceData/
Transfer/
analysis/archive/
analysis/.cache/
/.quarto/


*.RData
.positai

.claude/

**/*.quarto_ipynb

assets/Reunion_2026-08-18.txt

assets/Spatial modelling of dolphins abundance_gs_ncvana.docx

assets/pasos.docx

assets/GAM_description.R

assets/Tesis Doctoral Curcio 2019_final (1).pdf
