.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

assets/_quarto_old.yml
references/distancesampling.bib.sav
data/DistanceData/
Transfer/
analysis/archive/
analysis/.cache/
/.quarto/


*.RData
.positai

.claude/

**/*.quarto_ipynb
