.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto


data/DistanceData/
Transfer/
analysis/archive/
/.quarto/

docs/search.json
docs/VariablesAmbientales_files/
docs/DelfinesOscuros_files/
docs/DelfinesComunes_files/
docs/site_libs/